$charcoal: rgb(51, 51, 51);

$lightest-gray: #EFEFEF; // session links
$light_gray: #EBEBEB; // nav login
$med-gray: #8E8E8E; // input borders
$dark-gray: #444444; // nav login
$darker-gray: #333333; //user name
$white: #FFFFFF; // nav signup
$red: #E60023; // nav signup
$orange: #e3780c; // errors

$violet: purple; // test

// samples ^