@import "./base/constants.scss";

.index-buffer {
  @extend %flex-column;
  justify-content: center;
  min-width: 550px;
}
 
.board-index {
  @extend %flex-row;
  // justify-content: flex-start;
  color: $darker-gray;
  flex-wrap: wrap;
  font-family: $font;

  .b-index-frame {
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 280px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 4px;
    margin-bottom: 25px;
    padding: 8px 8px;
    width: 316px;

    &:hover {
      background-color: $lightest-gray;
    }
  }
}


.b-cover {
  border-radius: 8px;
  background-color: $med-gray;
  height: 200px;
  width: 300px;
}

.b-info {
  @extend %flex-row;
  justify-content: space-between;
  width: 300px;
  padding: 8px;

  .b-index-title {
    font-size: 20px;
    margin: 0px;
  }
  
  .b-index-pincount {
    font-family: $font;
    font-size: 14px;
  }
}

.b-index-link {
  @extend %flex-row;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  height: 40px;
  justify-content: center;
  margin-left: 125px;
  margin-top: 220px;
  position: absolute;
  width: 40px;

  &:hover {
    background-color: $light-gray;
  }
}


.b-fas {
  font-size: 16px;
  color: $med-gray;
}

