@import "./base/constants.scss";

.footer {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 20px;
}

.footer-nav {
  @extend %flex-column;
  justify-content: center;
  margin: 0px 12.5px;
}

.footer-links {
  @extend %flex-row;
  align-items: center;
  background-color: $white;
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), 0 0 0 0.5px rgba(0, 0, 0, .04);
  cursor: pointer;

  &:hover {
    background-color: $lightest-gray;
  }

  i {
    font-size: 22px;
    color: $dark-gray;
  }

  img {
    height: 22px;
    width: 22px;
  }
}
