@import "./base/constants.scss";

.dropdown-item {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: center;
  height: 42px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: -.4px;
  font-weight: bold;
  border-radius: 4px;

  &:hover {
    background-color: $lightest-gray;
  }
}

.input {
  background-color: $white;
  border: 1px solid $med-gray;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: text;
  font-size: 16px;
  height: 40px;
  letter-spacing: -.4px;
  margin-bottom: 10px;
  padding: 8px 14px;
  width: 290px;

  &:focus {
    box-shadow: 0 0 0 4px $focus;
  }
}

.errors {
  border: 1px solid $error-focus;

  &:focus {
    box-shadow: 0 0 0 4px $error;
  }
}

.rectangle-btn {
  @extend %flex-row;
  align-items: center;
  background-color: $lightest-gray;
  border-radius: 8px;
  box-sizing: border-box;
  color: $darker-gray;
  font-size: 15px;
  font-weight: bold;
  margin-left: 8px;
  padding: 10px 14px;

  &:hover {
    background-color: $light-gray;
  }

}

.oval-btn {
  @extend %flex-row;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  color: $darker-gray;
  font-family: $font;
  font-weight: bold;
  height: 40px;
  padding: 6px 12px;

  &:hover {
    background-color: $lighter-gray;
  }

  i {
    font-size: 24px;
    padding: 4px;
  }

  p {
    font-size: 16px;
    padding: 4px;
  }
}

.save-btn{
  @extend %flex-row;
  align-items: center;
  background-color: $pop;
  border-radius: 10px;
  color: $white;
  cursor: pointer;
  font-family: $font;
  height: 40px;
  padding: 10px 14px;
  font-size: 15px;

  &:hover {
    background-color: $pop-hover;
  }

  i {
    margin-right: 8px;
  }
}

.disabled {
  color: $med-gray;
  cursor: default;

  &:hover {
    background-color: $lightest-gray;
  }
}

.modal-transparency {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 10;

  .modal-child {
    height: 100%;

    .modal-page {
      align-items: center;
      color: $darker-gray;
      display: flex;
      flex-direction: column;
      font-family: $font;
      height: inherit;
      justify-content: center;
    }
  }
}
