@import "./base/constants.scss";

.navbar {
  @extend %flex-row;
  box-sizing: border-box;
  font-family: $font;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;

  .nav-left {
    @extend %flex-row;
    align-items: center;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.signedin h2 {
  color: $med-gray;
  padding-left: 16px;
  padding-right:16px;
}

.nav-links {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 128px;
  vertical-align: middle;
}

.profile-links {
  @extend %flex-row;
  box-sizing: border-box;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  align-items: center;
  padding: 4px;

  &:hover {
    background-color: $lightest-gray;
  }

  .p-fas {
    color: $med-gray;
    font-size: 24px;
  }

  .nav-img {
    height: 24px;
    width: 24px;
  }
}


.nav-login {
  background-color: $light-gray;
  color: $dark-gray;
}

.nav-signup {
  background-color: $pop;
  color: $white;
  margin-right: 8px;
}

.nav-visible {
  @extend %flex-column;
  background-color: $white;
  color: $darker-gray;
  border: 1px solid $lightest-gray;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
  box-sizing: border-box;
  font-family: $font;
  position: absolute;
  right: 0px;
  top: 68px;
  width: 328px;
  z-index: 5;
}

.nav-logo {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: transparent;
}

.small-profile-image {
  border-radius: 50%;
  height: 24px;
  object-fit: cover;
}
