@import "./base/colors.scss";
@import "./base/fonts.scss";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-left {
    display: flex;
    flex-direction: row;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.signedin h3 {
    color: $med-gray;
}

.nav-links {
    font-family: $font;
    height: 40px;
    width: 128px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
}

.nav-login {
    color: $dark-gray;
    background-color: $light-gray;
}

.nav-signup {
    color: $white;
    background-color: $red;
    margin-right: 8px;
}