@import "./base/constants.scss";

.pin-edit-buffer {
  @extend %flex-row;
  align-items: center;
  height: 100%;
}

.pin-form-box {
  @extend %flex-column;
  background-color: $white;
  border-radius: 8px;
  box-sizing: border-box;
  width: 450px;

  .pin-header {
    box-sizing: border-box;
    border-bottom: 1px solid $lighter-gray;
    font-family: $font;
    padding: 20px 50px;
    width: 100%;

    h3 {
      font-size: 22px;
      margin: 0px;
      text-align: center;
    }
  }

  .button-footer {
    @extend %flex-row;
    align-items: center;
    border-top: 1px solid $lighter-gray;
    box-sizing: border-box;
    font-family: $font;
    justify-content: space-between;
    padding: 16px;
    width: 100%;

    .buttons-right {
      @extend %flex-row;
      align-items: center;
    }
  }

}

.pin-form-body {
  @extend %flex-column;
  justify-content: space-between;
  width: 100%;

  .pin-aside {
    box-sizing: border-box;
    font-family: $font;
    font-size: 14px;
    height: 100%;
    padding: 12px 16px 0px 16px;
    width: 100%;

    div {
      @extend %flex-column;
      align-items: flex-start;
      box-sizing: border-box;
      justify-content: space-between;
      margin-bottom: 12px;

      .input {
        width: 418px;
      }

      p {
        font-size: 12px;
        padding-top: 10px;
        margin-bottom: 10px;
      }
    }

    .pin-title {
      .input {
        margin-bottom: 0px;
      }
    }

    .pin-description {
      .input {
        height: 92px;
        margin-bottom: 0px;
      }
    }
  }

  .pin-image {
    box-sizing: border-box;
    padding: 12px 16px;
    width: 268px;

    img {
      border-radius: 8px;
      width: 236px;
    }
  }
}

@media screen and (min-width: 770px) {
  .pin-form-box {
    width: 730px;
  }

  .pin-form-body {
    align-items: flex-start;
    flex-direction: row;

    .pin-aside {
      div {
        flex-direction: row;

        .input {
          width: 292px;
        }
      }

      p {
        margin-bottom: 0px;
      }
    }
  }
}
