@import "./base/constants.scss";

.pin-buffer {
  @extend %flex-row;
  background-color: $lighter-gray;
  height:100%;
  padding-bottom: 500px;
}

.pin-panel {
  @extend %flex-column;
  align-items: flex-start;
  background-color: $white;
  border-radius: 8px;
  box-sizing: border-box;
  height: fit-content;
  margin-top: 40px;
  padding: 16px 24px;
  width: 630px;

  .pin-header {
    @extend %flex-row;
    justify-content: space-between;
    width: 100%;

    i {
      font-size: 18px;
    }
  }

  h3 {
    color: $darker-gray;
    font-family: $font;
    margin: 12px 0px;
  }

  img {
    border-radius: 8px;
  }

  h5 {
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 0px;
    margin: 0px;
  }

  .pin-link-box {
    border-bottom: 1px solid $lighter-gray;
  }

  .pin-link {
    @extend %flex-row;
    align-items: center;
    background-color: $lighter-gray;
    border-radius: 12px;
    box-sizing: border-box;
    color: $darker-gray;
    font-family: $font;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    margin: 12px 0px;
    padding: 4px;
    width: 582px;

    &:hover {
      background-color: $light-gray;
    }

    i {
      margin-right: 8px;
    }
  }

  .pin-footer {
    @extend %flex-row;
    font-family: $font;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
    width: 582px;

    .user-thumbnail {
      margin-right: 8px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    a {
      cursor: pointer;
      font-weight: bold;
      margin-right: 5px;
    }

    p {
      margin-right: 5px;
    }
  }
}
