@import "./base/constants.scss";

.pin-form-buffer {
  background-color: $lighter-gray;
  position:fixed;
  top: 64px;
  left: 0;
  width:100%;
  height:100%;
  @extend %flex-row;

  .pin-form-box {
    width: 880px;
    height: 630px;
    margin-top: 40px;
    padding: 20px 40px 40px 40px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: $white;
    @extend %flex-column;

    .pin-form-header {
      box-sizing: border-box;
      margin-bottom: 20px;
      width: 840px;
      height: 40px;
      @extend %flex-row;
      justify-content: flex-end;
      align-items: center;
    }

    .pin-form {
      box-sizing: border-box;
      position: relative;
      @extend %flex-row;
      justify-content: space-between;
      width: 800px;
      height: 510px;
    }
  }
}

.upload-box {
  height: inherit;
  cursor: pointer;
  width: 340px;
  background-color: $lighter-gray;
  @extend %flex-row;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  font-family: $font;

  .upload-outline {
    @extend %flex-column;
    justify-content: center;
    border: 2px dashed rgb(218, 218, 218);
    border-radius: 6px;
    height: 100%;
    width: 100%;
    color: $med-gray;
    position: relative;

    input {
      cursor: inherit;
      display: block;
      font-size: 999px;
      filter: alpha(opacity=0);
      height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: right;
    }

    .upload-btn {
      @extend %flex-row;
      justify-content: center;
      height: 48px;
      width: 48px;
      margin-bottom: 14px;
      
      i {
        font-size: 32px;
      }
    }

    p {
      font-size: 16px;
      color: $darker-gray;
    }
  }
}

.preview-picture {
  position: absolute;
  height: 510px;
  width: 340px;
  background-color: $white;
  z-index: 5;

  img {
    border-radius: 12px;
  }
}

.pin-form-content {
  font-family: $font;
  width: 420px;
  height: 510px;
  box-sizing: border-box;
  @extend %flex-column;

  > div {
    width: 100%;
  }

  .pin-title {
    @extend %flex-row;
    align-items: center;
    border-bottom: 1px solid $med-gray;
    height: 55px;
    margin-top: 38px;

    textarea {
      @extend %text-area;
      color: $med-gray;
      font-size: 36px;
      font-weight: 500;
      height: 43px;
      resize: none;
    }
  }

  .pin-description {
    @extend %flex-row;
    align-items: center;
    min-height: 40px;
    margin-top: 24px;
    width: 100%;
    
    textarea {
      @extend %text-area;
      color: $dark-gray;
      font-size: 18px;
      height: 250px;
      resize: vertical;
      width: 420px;
      display: inline-block;
    }
  }

  .pin-url {
    @extend %flex-row;
    align-items: center;
    border-bottom: 1px solid $med-gray;
    min-height: 40px;
    margin-top: 24px;
    width: 100%;

    textarea {
      @extend %text-area;
      color: $dark-gray;
      font-size: 18px;
      height: 21px;
      resize: none;
      width: 420px;
    }

  }
  
  .board-choices {
    @extend %flex-row;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $med-gray;
    border-radius: 4px;
    cursor: pointer;
    width: 420px;
    height: 40px;
    padding: 10px 14px;
    color: $darker-gray;
  }
}

.board-scroll-container {
  @extend %flex-column;
  background-color: $white;
  box-sizing: border-box;
  font-family: $font;
  height: 510px;
  margin-left: 380px;
  margin-top: -510px;
  overflow: scroll;
  position: relative;
  width: 420px;
  z-index: 5;

  .board-option {
    box-sizing: border-box;
    padding: 8px 24px;
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 400px;
    height: 52px;

    &:hover {
      background-color: $lighter-gray;
    }

    p {
      font-family: $font;
      font-weight: bold;
      font-size: 18px;
    }

    .select-btn {
      @extend %flex-row;
      align-items: center;
      height: 36px;
      background-color: $pop;
      color: $white;
      font-weight: 500px;
      font-size: 14px;
      padding: 8px 12px;
      border-radius: 4px;
    }
  }
}