@import "./base/constants.scss";

.pin-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-auto-rows: 10px;
  min-width: 550px;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.p-index-frame{
  @extend %flex-column;
  box-sizing: border-box;
  align-items: flex-start;
  height: 350px;
  width: 252px;
  font-family: $font;
  padding: 8px;
  margin-bottom: 12px;

  &:hover {
    background-color: $lightest-gray;
    border-radius: 8px;
  }

  .p-title{
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px;
    width: 200px;
    font-weight: bold;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.p-image-box {
  cursor: zoom-in;
  background-color: $med-gray;
  border-radius: 8px;
  box-sizing: border-box;
  width: 236px;

  .p-picture {
    border-radius: 8px;
  }
}

.p-links{
  @extend %flex-column;
  box-sizing: border-box;
  color: $darker-gray;
  cursor: zoom-in;
  font-family: $font;
  height: 250px;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  width: 236px;

  .top-links {
    @extend %flex-row;
    justify-content: space-between;
    width: 216px;

    i {
      font-size: 20px;
    }

    .p-btn{
      @extend %flex-row;
      align-items: center;
      background-color: $lightest-gray;
      border-radius: 50%;
      height: 40px;
      width: 40px;

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  .bottom-links {
    @extend %flex-row;
    justify-content: flex-start;
    width: 216px;

    a {
      @extend %flex-row;
      align-items: center;
      box-sizing: border-box;
      height: 32px;
      padding: 8px;
      background-color: $lightest-gray;
      border-radius: 4px;
      font-weight: bold;
      font-size: 14px;

      i {
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }
}
