@import "./base/constants.scss";

.pinjoin-form {
  background-color: $white;
  border-radius: 8px;
  font-family: $font;
  max-height: 586px;
  width: 730px;

  .pinjoin-header {
    box-sizing: border-box;
    padding: 20px 50px;
    position: relative;
    width: 100%;

    button {
      left: 385px;
      position: absolute;
    }

    h3 {
      font-size: 22px;
      margin: 0px;
      text-align: center;
    }
  }
}

.pinjoin-body {
  @extend %flex-row;
  align-items: flex-start;
  justify-content: space-between;
}

.pinjoin-left {
  @extend %flex-column;
  justify-content: center;
  padding: 12px;
  width: 300px;

  .pinjoin-pic {
    margin-bottom: 12px;
    width: 216px;
  }

  .pin-title {
    .input {
      width: 216px;
    }
  }
}

.pinjoin-right {
  width: 430px;

  .board-scroll-container-2 {
  @extend %flex-column;
  box-sizing: border-box;
  font-family: $font;
  height: 520px;
  overflow: auto;
  width: 420px;

  .board-option {
    @extend %flex-row;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 52px;
    justify-content: space-between;
    min-height: 52px;
    overflow: auto;
    padding: 8px 24px;
    width: 420px;

    &:hover {
      background-color: $lighter-gray;
    }

    p {
      font-family: $font;
      font-size: 18px;
      font-weight: bold;
    }

    .select-btn {
      @extend %flex-row;
      align-items: center;
      background-color: $pop;
      border-radius: 4px;
      color: $white;
      font-size: 14px;
      font-weight: 500px;
      height: 36px;
      padding: 8px 12px;
    }
  }
}
}
