@import "./base/constants.scss";

.main-splash {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.splash-pic-box {
  // box-sizing: border-box;
  margin-bottom: 12px;
}

.splash-pic {
  width: 236px;
  border-radius: 8px;
}

.splash-container {
  column-gap: 12px;
  column-count: 2;
  width: 484px;
  overflow: hidden;
  position: fixed;
}

@media screen and (min-width: 786px) {
  .splash-container {
    column-count: 3;
    width: 732px;
  }
}

@media screen and (min-width: 1034px) {
  .splash-container {
    column-count: 4;
    width: 980px;
  }
}

@media screen and (min-width: 1282px) {
  .splash-container {
    column-count: 5;
    width: 1228px;
  }
}

@media screen and (min-width: 1530px) {
  .splash-container {
    column-count: 6;
    width: 1476px;
  }
}

@media screen and (min-width: 1778px) {
  .splash-container {
    column-count: 7;
    width: 1724px;
  }
}
