@import "./base/constants.scss";

.profile-buffer {
  min-height: 170px;
  display: flex;
  justify-content: center;
}

.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  padding: 12px;
}

.profile {
  font-family: $font;
  width: 75%;
}

.profile-nav {
  @extend %flex-row;
  max-width: 800px;
  height: 64px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.prof-buttons {
  @extend %flex-row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 4px;
}

.prof-buttons:hover {
  background-color: $lightest-gray;
}

.p2-fas {
  color: $med-gray;
  font-size: 24px;
}

.profile-body {
  min-height: 90px;
}

.profile-name {
  font-size: 36px;
  font-weight: bold;
  color: $darker-gray;
  letter-spacing: -.4px;
}

.profile-follows {

}

.profile-description {
  text-align: left;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
}

.profile-image {
    
}

.profile-image-container {
    height: 106px;
    width: 106px;
    background-color: $med-gray;
    border-radius: 50%;
}

.profile-buttons {
  max-width: 800px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.oval-link {
  @extend %flex-column;
  cursor: pointer;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700px;
  justify-content: center;
  min-height: 40px;
  padding: 8px 16px;
}

.oval-link:hover {
  text-decoration: underline;
}

.link-selected {
  background-color: $lightest-gray;
}

.prof-plus {
  position: relative;
}

.profile-visible {
  @extend %flex-column;
  position: absolute;
  width: 232px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
  border-radius: 8px;
  font-family: $font;
  background-color: $white;
  border: 1px solid $lightest-gray;
  color: $darker-gray;
  left: -20px;
  top: 56px;
}