@import "./base/constants.scss";

.user-edit-container {
  @extend %flex-row;
  justify-content: center;
}

.user-edit-box {
  @extend %flex-column;
  box-sizing: border-box;
  color: $darker-gray;
  font-family: $font;
  min-width: 400px;
  max-width: 600px;
  margin-top: 55px;

  h4 {
    font-weight: 300;
    margin: 0;
  }

  > div {
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }

  input {
    margin-top: 5px;
  }
}

.user-edit-header {
  @extend %flex-row;
  align-items: center;

  .user-edit-text {
    width: 60%;

    h2 {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
    }
  }

  .user-edit-links {
    @extend %flex-row;
    justify-content: flex-end;
    width: 40%;
  }
}

.user-edit-photo {
  div {
    @extend %flex-row;
    align-items: center;
    justify-content: flex-start;
  }

  .edit-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $med-gray;
    
    img {
      border-radius: 50%;
      height: 75px;
      object-fit: cover;
    }
  }

  .size-error {
    font-size: 14px;
    color: $error;
  }
}

.user-name {
  @extend %flex-row;

  div {
    width: 100%;

    input {
      width: 100%;
    }
  }

  div:first-child {
    margin-right: 8px;
  }
}

.user-username {
  div {
    @extend %flex-row;
    align-items: center;
    justify-content: flex-start;

    p {
      font-weight: 300;
      margin-right: 4px;
    }

    input {
      max-width: 197px;
    }
  }
}

.user-about {
  input {
    height: 94px;
    width: 100%;
    @extend %flex-row;
    justify-content: flex-start;
  }
}

.user-location {
  div {
    input {
      // width: 100%;
    }
  }
}

.pic-selector-box {
  width: 265px;
  height: 126px;
  @extend %flex-column;
  background-color: $white;
  border-radius: 6px;

  .mini-header {
    @extend %flex-row;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    padding: 13px 18px;

    h3 {
      margin: 0px;
      color: $darker-gray;
    }

    i {
      font-size: 28px;
      color: $med-gray;
      cursor: pointer;
    }
  }
  
  .mini-body {
    box-sizing: border-box;
    @extend %flex-row;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    position: relative;

    input {
      cursor: inherit;
      display: block;
      font-size: 999px;
      filter: alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }
  }
}

